body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
main {
    width: 700px;
}
.header img { 
    width: 200px;
    float: right;
    margin: 10px;
}
h1 {
    font-size: 42px;
    color: mediumpurple;
    border: double;
    background-color: lightcyan;
}
h1, h2, h3 {
    text-align: center;
    padding: 10px;
}
.p {
    width: 175px;
    float: left;
    margin: 10px;
    padding: 15px;
}
a:any-link {
    color: green;
}
a:hover {
    color: orange;
}
a:focus {
    color: fuchsia
}
footer {
    text-align: right;
    font-size: 80%;
}